{% load static %}
<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Google Fots -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">
  <!-- Remixicon Icon -->
  <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
  <!-- Remixicon Icon -->
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <!-- Main CSS -->
  <link href="../static/assets/css/main.css" rel="stylesheet">

  <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>


  <title>Livia Redua </title>
</head>

<body>

  <!-- header -->
  <header class="ds-header" id="site-header">
    <div class="container">
      <div class="ds-header-inner">
        <div class="col-11">
          <nav class="navbar navbar-light bg-lignt navbar-expand-lg">
            <div class="container-fluid">
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="col-7">
                <a class="navbar-brand ds-logo" href={% url 'news' %}>
                  <span>LR</span>{{profile.first_name}} {{profile.last_name}}
                </a>
              </div>
              <div class="col-5">
                <div class="collapse navbar-collapse" id="navbarNav">
                  <ul class="navbar-nav ">
                    <li class="nav-item">
                      <a class="nav-link text-dark" href={% url 'news' %}>NEWS</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link text-dark" href={% url 'tools' %}>TOOLS</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link text-dark" href="#">MANAGEMENT</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link text-dark" href={% url 'about' %}>HOW I AM?</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </nav>
        </div>
        <!-- social -->
        <div class="col-1">
          <ul class="ds-social row">
            <li class="row justify-content-center"><a href="{{profile.gitHub}}" target="_blank"><i
                  class="ri-github-fill"></i></a></li>
            <li class="row justify-content-center"><a href="{{profile.linkedin}}" target="_blank"><i
                  class="ri-linkedin-fill"></i></a></li>
          </ul>
        </div>
        <!-- social -->
      </div>
    </div>
  </header>

  <main class="ds-main-section">
    <div class="container">
      <div class="ds-work-details-section">
        <div class="row justify-content-center">
          <!-- Carousel -->
          <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="https://source.unsplash.com/collection/9826870/3000x900" class="d-block w-100" alt="image">
              </div>
              <div class="carousel-item">
                <img src="https://source.unsplash.com/collection/3687581/3000x900" class="d-block w-100" alt="image">
              </div>
              <div class="carousel-item">
                <img src="https://source.unsplash.com/collection/1173805/3000x900" class="d-block w-100" alt="image">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
              data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
              data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
          <!-- Carousel End -->
          <div class="row mt-5">
            <h2 class="ds-heading">Lasted News</h2>
          </div>
          <!-- Cards -->
          <div class="row mb-2 mt-2">
            {% for tp in topics_line1 %}
            <div class="col-md-6" >
              <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                  <h3 class="mb-0">{{tp.title}}</h3>
                  <div class="mb-1 text-muted">{{tp.dade}}</div>
                  <p class="card-text mb-auto">{{tp.description}}</p>
                  <a href="{{tp.link}}" class="stretched-link mt-2">Continue reading</a>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
          <!-- Card 2-->
          <div class="row"></div>
          {% for tp in topics_line2 %}
          <div class="col-md-6">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
              <div class="col p-4 d-flex flex-column position-static" >
                <h3 class="mb-0">{{tp.title}}</h3>
                <div class="mb-1 text-muted">{{tp.dade}}</div>
                <p class="card-text mb-auto">{{tp.description}}</p>
                <a href="{{tp.link}}" class="stretched-link mt-2">Continue reading</a>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
        <!-- Cards End -->
      </div>
    </div>
    </div>
  </main>

  <!--  footer 
  <footer class="ds-footer text-center">
    <div class="container">
      <section>
        <span>Stay in touch</span>
        <h4>Ready to talk?</h4>
        <p>Feel free to contact us</p>
        <a href="mailto:test@test.com" class="ds-button">Lets Talk</a>
      </section>
      <span class="ds-copyright">© 2022 All rights reserved. Free minimal bootstrap template by <a
          href="https://designstub.com/" target="_blank">Designstub</a>.</span>
    </div>
  </footer>-->


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>

  <script src="../static/assets/js/main.js"></script>
</body>

</html>